* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url('../images/whitebg.jpg') repeat;
  font-family: 'Microsoft Yahei';
  color: #787978;
  font-size: 0.12rem;
}
.header-box {
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  text-align: center;
}
.header-box img {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #000;
  border-radius: 50%;
}
.myid {
  color: #948c76;
  margin-bottom: 0.2rem;
  text-align: center;
}
.myid p {
  background: #f7f3ee;
  font-size: 1.3em;
  font-weight: 400;
  padding: 0 0.5em;
  letter-spacing: 0.1em;
  line-height: 2em;
  margin: 2em 0;
  display: inline-block;
}
.my-sort {
  margin: 0 0 1.2rem;
  text-align: center;
}
.my-sort a {
  margin: 0 0.71rem;
}

/* top */
#top {
  width: 45px;
  height: 45px;
  background: #cccccc;
  border-radius: 5px;
  position: fixed;
  right: 20px;
  bottom: 10%;
  cursor: pointer;
  text-align: center;
  line-height: 45px;
  display: none;
  z-index: 1000;
  opacity: 0.6;
}
#top:hover {
  opacity: 1;
}

